<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf1801.group4.shop..ShopReceiveAddressMapper">
  <resultMap id="BaseResultMap" type="com.qf1801.group4.shop.entity.ShopReceiveAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sys_user_id" jdbcType="VARCHAR" property="sysUserId" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
  </resultMap>
</mapper>