<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.dao.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="generator.entity.SysRoleMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sys_menu_id" jdbcType="VARCHAR" property="sysMenuId" />
    <result column="sys_role_id" jdbcType="VARCHAR" property="sysRoleId" />
  </resultMap>
</mapper>